<!DOCTYPE html>
<html lang="en" ng-app="gateSimulator">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="app.css">
</head>
<body class="container">
<div class="row">
    <div class="col-xs-6">
        <svg id="diagram" width="600" height="600"></svg>
    </div>
    <div class="col-xs-6" ng-controller="truthTableController as truthTable">
        <table>
            <thead>
            <tr>
                <th colspan="2">In</th>
                <th>Out</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="value in truthTable.values">
                <td ng-repeat="vali in value track by $index">{{vali}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="bower_components/snap.svg/dist/snap.svg.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
<script src="diagram.js"></script>
</body>
</html>