@import "bootstrap";

.meal .table {
  td {
    border:none;
    padding: 0 0.3rem;
    &.name {
      width: 70%
    }
    &.amount {
      width: 30%;
    }
  }
  .add-food {
  }
  form.form-inline {
    display: inline-block;
    .form-group {
      display: inline-block;
      margin-bottom: 0;
    }
    margin-bottom: 0.5rem;
    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      border-width: 0 0 1px;
      border-radius: 0;
      padding: 0;
      &.name {
        @include media-breakpoint-up(sm) {
          margin-bottom: -2px;
        }
      }
      &.amount {
        width: 34px;
      }
      &.measure {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
      }
    }
    .actions {
      margin-top: 5px;
      .btn.btn-success {
        margin-right: 10px;
      }
    }
  }
}

.recommendations {
  td {
    border-width: 0 0 1px;
    border-color: $table-border-color;
    border-style: solid;
    padding: 0 0.3rem;
    &.name {
      width: 7rem;
    }
    &.amount {
      padding: 0;
    }
    &.percent {
      width: 1rem;
    }
  }

  td div.bar div {
    display: inline-block;
    height: 24px;
    float: left;
  }
  .ok {
    background-color: limegreen;
  }
  .over {
    background-color: yellow;
  }
  .too-much {
    background-color: red;
  }
}