@import "bootstrap";

.meal .table {
  td {
    border:none;
    padding: 0 0.3rem;
    &.name {
      width: 78%
    }
    &.amount {
      width: 22%;
    }
  }
  .add-food {
  }
  tr {
    cursor: pointer;
    &:hover, &.tr-form {
      background-color: #fbfbfb;
    }
  }

  form.form-inline {
    span.twitter-typeahead {
      width: 70%;
      .name {
        width: 100%;
      }
      .tt-input {
        vertical-align: middle !important;
      }
      .tt-menu {
        width: 100%;
        background-color: white;
        border: 1px solid $table-border-color;
        margin-top: 2px;
      }

      .tt-suggestion {
        @extend .dropdown-item;
        padding: 0 4px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    width: 100%;
    display: inline-block;
    .form-group {
      display: inline-block;
      margin-bottom: 0;
    }
    margin-bottom: 0.5rem;
    .form-control {
      background-color: inherit;
      display: inline-block;
      width: auto;
      vertical-align: middle;
      border-width: 0 0 1px;
      border-radius: 0;
      padding: 0;
      &.name {
        width: 70%;
        @include media-breakpoint-up(sm) {
          margin-bottom: -2px;
        }
      }
      &.amount {
        width: 34px;
      }
      &.measure {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
      }
    }
    .actions {
      margin-top: 5px;
      .btn.btn-success {
        margin-right: 10px;
      }
    }
  }
}

.recommendations {
  //background-color: rgba(238, 238, 238, 0.19);
  padding-bottom: 12px;
  .row-recommendations {
    margin: 0;
    .column {
      padding: 0;
      //background-color: $gray-lightest;
      border: 1px solid $table-border-color;
      &.vitamins {
        background-color: #FBFFE8
      }
      &.dietary-elements {
        background-color: $gray-lightest;
      }
    }
  }
  .table {
    //background-color: $gray-lightest;
    //border: 1px solid $table-border-color;
    margin: 0;
    tbody {
      //background-color: $gray-lighter
    }
    td {
      border-width: 0;
      //border-color: $table-border-color;
      //border-style: solid;
      padding: 0 0.3rem;
      &.name {
        width: 6rem;
        text-align: right;
      }
      &.bar {
        padding: 0;
      }
    }
    th {
      //border-color: $gray-lighter;
    }
    td, th {
      font-size: 14px;
      line-height: 14px;
      height: 20px;
      vertical-align: middle;
      &.amount {
        //@include media-breakpoint-down(xs) {
        //  display: none;
        //}
      }
      &.recommendation {
        @include media-breakpoint-only(sm) {
          display: none;
        }
      }
      &.max {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    td.bar {
      div.bar {
        div {
          display: inline-block;
          height: 18px;
          float: left;
          line-height: 18px;
          white-space: nowrap;
          span.bar-percent {
            padding-left: 0.4rem;
          }
          background-color: #9ED2FF;
          &.ok {
            background-color: rgb(151, 236, 162);
            color: #007200;
          }
        }
      }
    }
  }
}