<h1>Example 1</h1>
<span data-placement="top-right" title="titteli" data-content="testi" data-trigger="click" bs-popover>
</span>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h2>Code</h2>
    <div bs-tabs>
      <button ng-click="backward()" class="btn btn-default btn-mini">
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      </button>
      <button ng-click="forward()" class="btn btn-default btn-mini">
        <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
      </button>
      <div bs-pane title="Assembly">
<pre><code class="assembly"><span ng-repeat-start="(key,line) in code"></span><span data-placement="right" data-content="{{line.description}}" data-trigger="manual" bs-popover ng-class="{active: isActiveLine(key)}">{{line.code}}</span>
<span ng-repeat-end></span></code></pre>
      </div>
      <div bs-pane title="C">
<pre><code class="c">int sub() {
  return 0xbeef;
}
int main() {
  sub();
  return 0xf00d;
}</code></pre>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-4">
    <h2>Stack</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Address</th><th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="obj in stack">
          <td>
            {{obj.address}}
          </td>
          <td>
            {{obj.value}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Input</h2>
    <pre><code>
    </code></pre>
  </div>
  <div class="col-xs-6">
    <h2>Output</h2>
    <pre><code>
    </code></pre>
  </div>
</div>