<h1>Example 1</h1>
<span data-placement="top-right" title="titteli" data-content="testi" data-trigger="click" bs-popover>tetsre
</span>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h2>Code</h2>
    <div bs-tabs>
      <div bs-pane title="Assembly">
<pre><code class="assembly">sub:
<span ng-repeat="line in code" data-placement="right" data-content="{{line.description}}" data-trigger="click" bs-popover>{{line.code}}</span>
00401001  mov       ebp,esp
00401003  mov       eax,0BEEFh
00401008  pop       ebp
00401009  ret
main:
00401010  push      ebp
00401011  mov       ebp,esp
00401013  call      sub (401000h)
00401018  mov       eax,0F00Dh
0040101D  pop       ebp
0040101E  ret</code></pre>
      </div>
      <div bs-pane title="C">
<pre><code class="c">int sub() {
  return 0xbeef;
}
int main() {
  sub();
  return 0xf00d;
}</code></pre>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-4">
    <h2>Stack</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Address</th><th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="obj in stack">
          <td>
            {{obj.address}}
          </td>
          <td>
            {{obj.value}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Input</h2>
    <pre><code>
    </code></pre>
  </div>
  <div class="col-xs-6">
    <h2>Output</h2>
    <pre><code>
    </code></pre>
  </div>
</div>