<div class="container">
    <h1>Nutrient</h1>
    <h2>Soijapapu</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Perusravintoaineet</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Proteiini</td>
            <td>30 g</td>
        </tr>
        <tr>
            <td>Hiilihydraatti</td>
            <td>20 g</td>
        </tr>
        <tr>
            <td>Rasva</td>
            <td>10 g</td>
        </tr>
        <tr>
            <td>Rauta</td>
            <td>3 mg</td>
        </tr>
        <tr>
            <td>Kalsium</td>
            <td>100 mg</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Kivennäis- ja hivenaineet</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Rauta</td>
            <td>3 mg</td>
        </tr>
        <tr>
            <td>Kalsium</td>
            <td>100 mg</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Vitamiinit</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>B12-vitamiini</td>
            <td>3 mg</td>
        </tr>
        <tr>
            <td>C-vitamiini</td>
            <td>100 mg</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
    </div>
</div>