<div *ngIf="food">
    <h2>{{food.name}}</h2>
    <table class="table table-bordered table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>Perusravintoaineet</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#nutrient of food.basicNutrients">
            <td>{{nutrient.name}}</td>
            <td>{{nutrient.value}}</td>
        </tr>
        </tbody>
        <thead class="thead-inverse">
        <tr>
            <th>Hiilarit</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#nutrient of food.carbs">
            <td>{{nutrient.name}}</td>
            <td>{{nutrient.value}}</td>
        </tr>
        </tbody>
        <thead class="thead-inverse">
        <tr>
            <th>Rasvat</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#nutrient of food.fats">
            <td>{{nutrient.name}}</td>
            <td>{{nutrient.value}}</td>
        </tr>
        </tbody>
        <thead class="thead-inverse">
        <tr>
            <th>Kivennäis- ja hivenaineet</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#nutrient of food.dietaryElements">
            <td>{{nutrient.name}}</td>
            <td>{{nutrient.value}}</td>
        </tr>
        </tbody>
        <thead class="thead-inverse">
        <tr>
            <th>Vitamiinit</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#nutrient of food.vitamins">
            <td>{{nutrient.name}}</td>
            <td>{{nutrient.value}}</td>
        </tr>
        </tbody>
    </table>
</div>