<div *ngIf="food">
    <h2>{{food.name}}</h2>
    <table class="table table-bordered table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>Perusravintoaineet</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#nutrient of food.nutrients">
            <td>{{nutrient.name}}</td>
            <td>{{nutrient.value}}</td>
        </tr>
        </tbody>
        <thead class="thead-inverse">
        <tr>
            <th>Perusravintoaineet</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Proteiini</td>
            <td>30 g</td>
        </tr>
        <tr>
            <td>Hiilihydraatti</td>
            <td>20 g</td>
        </tr>
        <tr>
            <td>Rasva</td>
            <td>10 g</td>
        </tr>
        <tr>
            <td>Rauta</td>
            <td>3 mg</td>
        </tr>
        <tr>
            <td>Kalsium</td>
            <td>100 mg</td>
        </tr>
        </tbody>
        <thead class="thead-inverse">
        <tr>
            <th>Kivennäis- ja hivenaineet</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Rauta</td>
            <td>3 mg</td>
        </tr>
        <tr>
            <td>Kalsium</td>
            <td>100 mg</td>
        </tr>
        </tbody>
        <thead class="thead-inverse">
        <tr>
            <th>Vitamiinit</th>
            <th>Määrä</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>B12-vitamiini</td>
            <td>3 mg</td>
        </tr>
        <tr>
            <td>C-vitamiini</td>
            <td>100 mg</td>
        </tr>
        </tbody>
    </table>
</div>