<h2>Ateria</h2>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div *ngIf="meal">
            <h3>Ruoat</h3>
            <table class="table table-sm">
                <thead class="thead-inverse">
                <tr>
                    <th *ngIf="editMode()">
                        <!--<button class="btn btn-secondary btn-sm">-->
                            <!--<i class="fa fa-edit" aria-hidden="true"></i>-->
                        <!--</button>-->
                    </th>
                    <th>Ruoka-aine</th>
                    <th>Määrä
                        <!--<button class="btn btn-secondary btn-sm pull-right">-->
                            <!--<i class="fa fa-edit" aria-hidden="true"></i>-->
                        <!--</button>-->
                    </th>
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                <template ngFor #food [ngForOf]="meal.foods">


                    <tr *ngIf="!editMode(food)" (click)="openEdit(food)">
                        <td *ngIf="editMode()">

                        </td>
                        <td>
                            {{food.food.name}}
                        </td>
                        <td>
                            {{food.amount}} g
                        </td>
                    </tr>
                    <tr *ngIf="editMode(food)">
                        <td>
                            <button (click)="remove(food)" type="button" class="btn btn-secondary">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <input type="text" value="{{food.food.name}}" class="form-control form-control-sm">
                        </td>
                        <td class="meal-food-amount">
                            <!--<input type="text" value="{{food.amount}}" class="form-control form-control-sm"> g-->
                            <div class="input-group input-group-sm">
                                <input type="text" value="{{food.amount}}" class="form-control">
                                <span class="input-group-addon">g</span>
                            </div>

                        </td>
                        <td>
                            <button (click)="save(food)" class="btn btn-success">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                </template>
                <!--<tr>-->
                    <!--<td>-->
                        <!--<button class="btn btn-danger">-->
                            <!--<i class="fa fa-trash-o" aria-hidden="true"></i>-->
                        <!--</button>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="text" class="form-control form-control-sm">-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="input-group input-group-sm">-->
                            <!--<input type="text" value="" class="form-control">-->
                            <!--<span class="input-group-addon">-->
                                <!--g-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<button class="btn btn-success">-->
                            <!--<i class="fa fa-check"></i>-->
                        <!--</button>-->
                    <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <div *ngIf="nutritionShareGroups">
            <h3>Ravintoaineet</h3>
            <table class="table table-bordered table-sm">
                <template ngFor #nutritionShare [ngForOf]="nutritionShareGroups">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{nutritionShare.name}}</th>
                        <th class="bar">määrä</th>
                        <th>määrä</th>
                        <th>suositus</th>
                        <th>max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="#nutrition of nutritionShare.nutrients">
                        <td>{{nutrition.name}} ({{nutrition.unit}})</td>
                        <td>
                            <div class="bar">
                                <div class="ok" [style.width]="nutrition.percent.ok + '%'"></div>
                                <div class="over" [style.width]="nutrition.percent.over + '%'"></div>
                                <div class="too-much" [style.width]="nutrition.percent.tooMuch + '%'"></div>
                            </div>
                        </td>
                        <td>{{nutrition.amount | amount}}</td>
                        <td>{{nutrition.male | amount}}</td>
                        <td>{{nutrition.max | amount}}</td>
                    </tr>
                    </tbody>
                </template>
            </table>
        </div>
    </div>
</div>