<h2>Ateria</h2>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <table class="table table-bordered table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>Ruoka-aine</th>
                <th>Määrä</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Soijapapu</td>
                <td>100 g</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-6">
        Pylväsdiagrammi
    </div>
</div>