.app {
  display: flex;
  flex-wrap: wrap;
  --margin: 5px;
  margin: var(--margin);
}
.card-container {
  margin: var(--margin);
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #dadada;
  border-radius: 5%;
  padding: 5px;
}
.card__player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  margin-bottom: 5px;
}
.card__points {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: bold;
}
.card__headshot {
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  overflow: hidden;
  width: 90px;
  height: 90px;
}
.card__star {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 27px !important;
  color: goldenrod;
}
.card__star-value {
  position: absolute;
  color: white;
  left: 9px;
  top: 6px;
  font-size: 14px;
  font-weight: bold;
}
.player-link {
  text-decoration: none;
  color: black;
}