.app {
  display: flex;
  justify-content: center;
}
.card-container {
  display: inline-block;
}
.card {
  display: flex;
}
.card__player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  padding: 20px;
}
th {
  text-align: right;
  padding-right: 10px;
}
td {
  text-align: left;
}
.card__stats {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__stats table {
  border-collapse: collapse;
}
.headshot {
  border: 1px solid black;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}