.app {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
}

.card__player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  padding: 0 20px;
  border-bottom: 1px solid black;
  width: 200px;
}

table, td, th {
  border: 1px solid black;
}

td {
  text-align: center;
}

.card__stats {
  border-collapse: collapse;
}