@import "lib/bootstrap/less/bootstrap.less";

form.form-inline .form-control {
  &.form-input-salary { width: 100px; }
  &.form-input-age { width: 60px; }
}

table.table-tax {
  width: auto;
  > tbody > tr {
    > td, > th {
      padding: 2px 8px;
    }
  }
}

table.table-accordion {
  tbody tr.table-row-heading:hover {
    cursor: pointer;
    background-color: @table-bg-hover;
  }
  .table-row-description {
    background-color: @table-bg-hover;
    td {
      border: none;
    }
  }
}

.input-group-addon {
  padding: 6px 6px;
}