.pie-chart {
  height: 400px;
  margin-left: -50px;
}

form.form-inline .form-control {
  &.form-input-salary { width: 100px; }
  &.form-input-age { width: 60px; }
}

.nav-pills.nav-pills-sm>li>a {
  padding: 2px 10px;
  font-size: 12px;
}