$icon-font-path: 'fonts/';

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: white;
}

.popover-title {
  display: none;
}

code.assembly .line-of-code {
  padding: 0 5px;
  &.active {
    background-color: green;
    color: white;
  }
}