$icon-font-path: 'fonts/';

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: white;
}

.popover-title {
  display: none;
}

.code .line-of-code {
  &.active {
    background-color: green;
    color: white;
  }
  :first-child {
    padding-left: 5px;
  }
  :last-child {
    padding-right: 5px;
  }
  .instruction {
    padding-left: 1em;
  }
  .arguments {
    padding-left: 3em;
  }
}