@(title: String, assets: List[String], countryCode: String, earnedIncome: Double)

@main(title, assets, "CalculateController as ctrl", "earnedIncome = " + earnedIncome + "; countryCode = '" + countryCode + "'") {

<h1>@title</h1>

<form class="form-inline">
  <label>Vuositulot</label>
  <input ng-model="earnedIncome" type="text" placeholder="Vuositulot" class="form-control form-input-salary input-sm">
  <input ng-click="ctrl.getData()" class="btn btn-primary btn-sm" type="submit" value="Laske vero">
</form>

{{data.totalTax}}

<div class="row">
  <div class="col-xs-9 col-sm-5">
    <table class="table table-tax table-accordion">
      <thead>
      <tr>
        <th>Maksu</th>
        <th>€</th>
        <th>%</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="tr-graph">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td rowspan="{{data.taxes.length*2+1}}" class="td-graph">
          <div class="graph">
            <div class="tax1"></div>
            <div class="tax2"></div>
            <div class="tax3"></div>
          </div>
        </td>
      </tr>
      <tr class="table-row-heading" ng-repeat-start="tax in data.taxes" ng-class="{active: ctrl.isActive(tax.name), first: $first}" ng-click="ctrl.toggleDescription(tax.name)">
        <td>{{tax.name}}</td>
        <td>{{ctrl.formatCurrency(tax.sum)}}</td>
        <td>{{ctrl.formatPercent(tax.percentage)}}</td>
        <td><span class="glyphicon glyphicon-stop {{ctrl.getColor(tax.name)}}" aria-hidden="true"></span></td>
      </tr>
      <tr class="table-row-description" ng-repeat-end="">
        <td ng-show="ctrl.isActive(tax.name)" colspan="4">jhghg</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

}
