@(title: String, assets: List[String])
@main(title, "CompareController as ctrl", assets) {

  <h1>@title</h1>

  <h2>Suomi ja Ruotsi</h2>
  <h3>Kokonaisveron osuus bruttotuloista</h3>
  <nvd3-line-chart
  data="countryData"
  height="350"
  showXAxis="true"
  showYAxis="true"
  tooltips="true"
  interactive="true"
  useInteractiveGuideline="true"
  xAxisTickFormat="xAxisTickFormatPercent()"
  yAxisTickFormat="yAxisTickFormatPercent()">
  </nvd3-line-chart>

  <h2>Ruotsi</h2>
  <h3>Verojen osuus bruttotuloista</h3>
  <nvd3-stacked-area-chart
  data="svPercentData"
  id="svComparePercent"
  height="400"
  showXAxis="true"
  showYAxis="true"
  tooltips="true"
  interactive="true"
  useInteractiveGuideline="true"
  toolTipContent="toolTipContentFunction()"
  xAxisTickFormat="xAxisTickFormatPercent()"
  yAxisTickFormat="yAxisTickFormatPercent()">
    <svg></svg>
  </nvd3-stacked-area-chart>

  <h3>Nettotulon määrä</h3>
  <nvd3-stacked-area-chart
  data="svNetIncomeData"
  id="svCompareNetIncome"
  height="400"
  showXAxis="true"
  showYAxis="true"
  tooltips="true"
  interactive="true"
  useInteractiveGuideline="true"
  toolTipContent="toolTipContentFunction()"
  xAxisTickFormat="xAxisTickFormatSum()"
  yAxisTickFormat="yAxisTickFormatSum()">
    <svg></svg>
  </nvd3-stacked-area-chart>

  <h2>Suomi</h2>
  <h3>Verojen osuus bruttotuloista</h3>
  <nvd3-stacked-area-chart
  data="percentData"
  id="exampleId"
  height="400"
  showXAxis="true"
  showYAxis="true"
  tooltips="true"
  interactive="true"
  useInteractiveGuideline="true"
  toolTipContent="toolTipContentFunction()"
  xAxisTickFormat="xAxisTickFormatPercent()"
  yAxisTickFormat="yAxisTickFormatPercent()">
    <svg></svg>
  </nvd3-stacked-area-chart>

  <h3>Verojen määrä</h3>
  <nvd3-stacked-area-chart
  data="sumData"
  id="exampleId2"
  height="400"
  showXAxis="true"
  showYAxis="true"
  tooltips="true"
  interactive="true"
  useInteractiveGuideline="true"
  toolTipContent="toolTipContentFunction()"
  xAxisTickFormat="xAxisTickFormatSum()"
  yAxisTickFormat="yAxisTickFormatSum()">
    <svg></svg>
  </nvd3-stacked-area-chart>

}