@(title: String, assets: List[String], percentAreaCharts: List[Chart], sumAreaCharts: List[Chart], netIncomeAreaCharts: List[Chart])


@lineChartPercent(data: String) = {
  @lineChart(data, yAxisTickFormat="formatPercent()")
}

@lineChartSum(data: String) = {
  @lineChart(data, yAxisTickFormat="formatSum()")
}

@areaChartPercent(data: String) = {
  @areaChart(data, yAxisTickFormat="formatPercent()")
}

@areaChartSum(data: String) = {
  @areaChart(data, yAxisTickFormat="formatSum()")
}

@main(title, "CompareController as ctrl", assets) {


  <h1 ng-click="loadNetIncome()">@title</h1>

  <div class="row">
    <div class="col-sm-6">
      <h3>Veroprosentti</h3>
      @lineChartPercent(data="percentData")
    </div>
    <div class="col-sm-6">
      <h3>Nettotulot</h3>
      @lineChartSum(data="netIncomeData")
    </div>
  </div>

  <tabset>
    <tab heading="Veroprosentti" select="loadPercent()" active="true">
      <div class="row">
        @for(chart <- percentAreaCharts) {
          <div class="col-xs-6 col-sm-4 col-lg-3">
            <h3>@chart.title</h3>
            @areaChartPercent(data=chart.data)
          </div>
        }
      </div>
    </tab>
    <tab heading="Verosumma" select="loadSum()">
      <div class="row">
        @for(chart <- sumAreaCharts) {
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <h3>@chart.title</h3>
          @areaChartSum(data=chart.data)
        </div>
        }
      </div>
    </tab>
    <tab heading="Nettotulot" select="loadNetIncome()">
      <div class="row">
        @for(chart <- netIncomeAreaCharts) {
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <h3>@chart.title</h3>
          @areaChartSum(data=chart.data)
        </div>
        }
      </div>
    </tab>
  </tabset>

}