@(title: String, assets: List[String])

@lineChartPercent(data: String) = {
  @lineChart(data, yAxisTickFormat="formatPercent()")
}

@lineChartSum(data: String) = {
  @lineChart(data, yAxisTickFormat="formatSum()")
}

@areaChartPercent(data: String) = {
  @areaChart(data, yAxisTickFormat="formatPercent()")
}

@areaChartSum(data: String) = {
  @areaChart(data, yAxisTickFormat="formatSum()")
}

@main(title, "CompareController as ctrl", assets) {


  <h1>@title</h1>

  <div class="row">
    <div class="col-md-6">
      <h3>Kokonaisveron osuus bruttotuloista</h3>
      @lineChartPercent(data="percentData")
    </div>
    <div class="col-md-6">
      <h3>Nettotulot</h3>
      @lineChartSum(data="netIncomeData")
    </div>
  </div>

  <h2>Verojen osuus bruttotuloista</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Suomi</h3>
      @areaChartPercent(data="fiPercentData")
    </div>
    <div class="col-md-6">
      <h3>Ruotsi</h3>
      @areaChartPercent(data="svPercentData")
    </div>
  </div>

  <h2>Nettotulon määrä</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Suomi</h3>
      @areaChartSum(data="fiNetIncomeData")
    </div>
    <div class="col-md-6">
      <h3>Ruotsi</h3>
      @areaChartSum(data="svNetIncomeData")
    </div>
  </div>

  <h2>Verojen määrä</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Suomi</h3>
      @areaChartSum(data="fiSumData")
    </div>
    <div class="col-md-6">
      <h3>Ruotsi</h3>
      @areaChartSum(data="svSumData")
    </div>
  </div>

}