@(message: String)
@main("Verotutka", "TaxController as ctrl") {

<h1>Verotutka</h1>

<form class="form-inline">
    <label>Palkka</label>
    <input type="text" ng-model="form.salary" placeholder="Palkka" class="form-control">
    <label>Kunta</label>
    <select ng-model="form.municipality" ng-options="value for value in municipalityOptions" class="form-control"></select>
    <label>Ikä</label>
    <input type="text" ng-model="form.age" placeholder="Ikä" class="form-control">
    <input ng-click="ctrl.getTax(form)" class="btn btn-primary" type="submit" value="Laske vero">
</form>

<hr>

<div class="row">
    <div class="col-xs-12 col-md-7">
        <div id="pie"></div>
    </div>
    <div class="col-xs-12 col-md-5">
        <h2>Kunnallisvero</h2>
        <ul>
            <li>
                Kunnallisverotuksen ansiotulovähennys 2877,90
            </li>
            <li>
                Kunnallisverotuksen perustulovähennys ,00
            </li>
            <li>
                Valtion veron ja kunnallisveron yhteinen vähennys: 2759,00
            </li>
            <li>
                Kunnallisverosta tehtävät vähennykset yhteensä: 2877,90 + ,00 + 2759,00 = 5636,90
            </li>
            <li>
                Kunnallisverotuksessa huomioitava tulo: 30000,00 - 5636,90 = 24363,10
            </li>
        </ul>
    </div>
</div>


}

