@(title: String)
@main(title, "TaxController as ctrl") {

<h1>@title</h1>

<form class="form-inline">
    <label>Vuositulot</label>
    <input ng-model="form.salary" type="text" placeholder="Vuositulot" class="form-control form-input-salary input-sm">
    <label>Kunta</label>
    <select ng-model="form.municipality" ng-options="value for value in municipalityOptions" class="form-control input-sm"></select>
    <label>Ikä</label>
    <input type="number" ng-model="form.age" placeholder="Ikä" class="form-control form-input-age input-sm">
    <input ng-click="ctrl.getTax(form)" class="btn btn-primary btn-sm" type="submit" value="Laske vero">
</form>

<hr>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="row">
            <div class="col-xs-6">
                <div id="pie-basic" class="pie-chart"></div>
            </div>
            <div class="col-xs-6">
                <div id="pie-tax" class="pie-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
        <h2>Kunnallisvero</h2>
        <ul>
            <li>
                Kunnallisverotuksen ansiotulovähennys 2877,90
            </li>
            <li>
                Kunnallisverotuksen perustulovähennys ,00
            </li>
            <li>
                Valtion veron ja kunnallisveron yhteinen vähennys: 2759,00
            </li>
            <li>
                Kunnallisverosta tehtävät vähennykset yhteensä: 2877,90 + ,00 + 2759,00 = 5636,90
            </li>
            <li>
                Kunnallisverotuksessa huomioitava tulo: 30000,00 - 5636,90 = 24363,10
            </li>
        </ul>
    </div>
</div>


}